.logout{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 17rem;
    margin-top: -2.5rem;
    background: linear-gradient(106.23deg,#f99827,#f95f35 100%);
    border-radius: 8px;
    padding: 8px;
    color: white;
    width: 35px;
    height: 35px;
    

}
.logout:hover{
    cursor: pointer;
    color: var(--orange);
    background: transparent;
    border: 2px solid var(--orange);
  }
  .table{
    display: flex;
    margin-top: 6rem;
  }