.profile{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cover{
    display: flex;
    margin-top:6rem ;
    margin-left: -13rem;
    width: 165%;
    height: 90%;
}
.left{
    display: flex;
    margin-top: 0rem ;
    margin-left: 1rem;
    width: 85%;
}
.post{
    display: flex;
    margin-top:-13rem ;
    margin-left: 1rem;
    width: 86rem;
    overflow: auto;
    height: 28rem;
    
}
.menus{
    display: flex;
    margin-top: -20rem;
    height: 2rem;
    margin-left: 56rem;
    gap: 2rem;
}
.menus>div:hover{
    cursor: pointer;
    color: orange; 
    
}
.menus>div>span:nth-of-type(1){
    cursor: pointer;
    color: orange; 
    font-weight: bold;
    /* margin-left: 1rem; */

}
.menus>div>span:nth-of-type(2){
    /* gap: 2rem; */
    margin-left: 0.5rem;
}
.menus>span:nth-of-type(1):hover{
    cursor: pointer;
    color: orange;

}
.menus>span:nth-of-type(2):hover{
    cursor: pointer;
    color: orange;
}
.menus>span:nth-of-type(3):hover{
    cursor: pointer;
    font-weight: bold;
    color: orange;
}
/* .menus>a>span:nth-of-type(3):hover{
    cursor: pointer;
    font-weight: bold;
    color: orange;
} */
.big-home{
    font-weight: bold;

}